# Игнорировать файлы и директории, специфичные для Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Игнорировать файлы виртуального окружения
venv/
env/

# Игнорировать файлы и директории, специфичные для вашей IDE (например, PyCharm)
.idea/

# Файл логов
app.log

# Другие временные файлы или директории, которые вы хотите исключить
*.tmp
*.bak
*.swp
.DS_Store
